<p>
  There is nothing either good or bad but
    <%= @verb %> makes it <%= @adjective %>.
</p>

<p>
  Ruby version: <%= RUBY_VERSION %>
</p>

<p>
  Rulers version: <%= things  %>
</p>

<p>
  Controller name: <%=  %>
</p>
